[Unit]
Description=Takes an image at every 30 seconds minute step

[Service]
Type=oneshot
User=pi
ExecStartPre=/usr/local/bin/templog.sh
ExecStart=/bin/bash /usr/local/bin/imager.sh
