Package: picamera
Version: 0.5
Section: base
Priority: optional
Architecture: armhf
Depends: rclone (>= 1.45-3)
Maintainer: Eike Schott <eikeschott0@gmail.com>
Description: A package that sets up the Raspi garden imager
